In [ ]:
#Vijaykumar Kutty
#30th Aug 2024

In [ ]:
#Q1.a Understanding variables - Defined Variable that stores the name

In [4]:
First_name = "Vijaykumar Kutty"
print (First_name)

Vijaykumar Kutty

In [ ]:
#Q2. Working with Different Data Types along with display of type
1#. Integer - An Integer is whole number without decimal points

In [12]:
VJ_Integer = 17
type (VJ_Integer)

int

In [ ]:
#2. Float - Number with decimal points

In [14]:
VJ_Float = 17.092016
type (VJ_Float)

float

In [ ]:
#3. String - String is sequence of characters present in quotes

In [16]:
VJ_String = "Welcome To Python Course with AWA"
type (VJ_String)

str

In [ ]:
#4. Boolean - It represents one of the two values either "True" or "False"

In [20]:
VJ_boolean = False
type (VJ_boolean)

bool

In [ ]:
#Q3.a Arithmetic Operators
#1 Addition ('+') - To Add numbers together

In [28]:
Value_1 = 10
Value_2 = 20
Value_3 = 30

Total = Value_1 + Value_2 + Value_3
print("Total of addition is ",Total)

Total of addition is  60

In [ ]:
#2 Subtraction ('-') - To subtract number

In [34]:
Value_1 = 50
Value_2 = 20
Total = Value_1 - Value_2
print("Total of subtraction is ",Total)

Total subtraction is  30

In [ ]:
#3 Multiplication ('*') - To multiply numbers

In [36]:
Value_1 = 50
Value_2 = 20
Total = Value_1 * Value_2
print("Total of multiplication is ",Total)

Total of multiplication is  1000

In [ ]:
#4 Division ('/') - To divide numbers

In [42]:
Value_1 = 50
Value_2 = 20
Total = Value_1 / Value_2
print("Total of division is ",Total)

Total of division is  2.5

In [ ]:
#5 Floor Division ('//') - To divide numbers and returing value will be the quotient without the remainder

In [50]:
Value_1 = 50
Value_2 = 4
Total = Value_1 // Value_2
print("Total of floor division is ",Total)

Total of floor division is  12

In [ ]:
#6. Modulus('%') - Returns the remainder of the division of 1st number by the 2nd number

In [58]:
Value_1 = 17
Value_2 = 5
Total = Value_1 % Value_2
print("Total of Modulus is ",Total)

Total of Modulus is  2

In [ ]:
#7. Exponentiation(**) - Raises the 1st number to the power of 2nd number

In [64]:
Value_1 = 15
Value_2 = 2
Total = Value_1 ** Value_2
print("Total of Exponentiation is ",Total)

Total of Exponentiation is  225

In [66]:
#Q3.b Calculate the area of a rectangle

#Defining the variables for calculation
length = 5
width = 10

#Calcualtion
Area = (length*width)

print("Area Of Rectangle :",Area)

Area Of Rectangle : 50

In [76]:
#Q4. Comparison and Logical Operators - Explanation with examples
#1. Equal to ('==') - To check if two values are equal
#e.g. with different values
Value_1 = 15
Value_2 = 2
Value_1 == Value_2 # Answer is false because 15 is not equal to 2

False

In [72]:
#e.g. with equal values
Value_1 = 15
Value_2 = 15
Value_1 == Value_2 # Answer is True because 15 is equal to 15

True

In [78]:
#2. Not Equal to ('!=') - To check if two values are not equal
#e.g. with different values
Value_1 = 15
Value_2 = 2
Value_1 != Value_2 # Answer is True because 15 is not equal to 2

True

In [80]:
#e.g. with equal values
Value_1 = 15
Value_2 = 15
Value_1 != Value_2 # Answer is False because 15 is equal to 15

False